// VIDEO CONTAINER, BACKGROUND VIDEO, VIDEO SHADER

.video-container,
.video-shader {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0; 
}


.video-container {
    z-index: -2;

    &__bg-video {
        height: 100%;
        width: 100%;
        object-fit: cover; 
    }
    
}

.video-shader{
    z-index: -1; 
    background-color: rgba(#000, .4);      
}

// TOP NAVIGATOIN LINKS 

.links {
    
    // background-color: slateblue;
    grid-column: 1 / -1; 

    padding: 2.8rem;    
    display: grid;   
    grid-template-columns: 1fr 1fr; 
    align-items: start;   

    font-size: 1.1rem;  
    letter-spacing: 2px;   

    &__about {
        
        justify-self: start; 
        
        &--text,
        &--text:active {
            color: #fff;
            text-decoration: none;
        }

        &--text:hover {
            text-decoration: underline;  
        }
    }
    
    &__social {
         
        text-transform: lowercase; 
        justify-self: end; 

        &--face,
        &--face:active {
            color: #fff;
            text-decoration: none;
        }
        
        &--vim,
        &--vim:active {
            color: #fff;
            text-decoration: none;
             
        }
    }

}

.main {
    // background-color: salmon; 

    grid-row: 2 / 3; 
    grid-column: 1 / -1; 

    display: grid; 
    grid-template-columns: 1fr;  

    justify-content: center;
    align-content: center;  
}

.navigation{
    position: absolute; 
}

.header {  

    grid-row: 2 / 3;
    grid-column: 1 / -1;  

    align-self: start;   
    justify-self: center;   

    // background-color: black;  

    display: grid; 
    grid-template-rows: repeat(3, max-content);  
    grid-template-columns: max-content;     

    transform: translateY(-1rem);   

    &__job-title {
        // background-color: black; 
        justify-self: start;       
        grid-row: 1 / 2;  
        grid-column: 1 / -1;  
        font-size: 1.8rem; 
        letter-spacing: 1.3rem;  
        font-weight: 500;        
    }    
     
    &__name {
        // background-color: blue; 
        grid-row: 2 / 3;  
        grid-column: 1 / -1; 
        font-size: 3.8rem; 
        letter-spacing: 5rem;   
        padding-top: 1rem; 
        padding-bottom: 1rem;

    } 
    
    &__company { 
        font-size: 1.1rem;
        font-weight: 400;     
        letter-spacing: 2px; 
        // background-color: green;
        grid-row: 3 / 4;    
        grid-column: 1 / -1;     
        justify-self: end;      
        margin-right: 5rem;      
    } 
}

.footer {
    // background-color: tomato; 
    grid-column: 1 / -1; 

    display: grid;  
    grid-template-columns: repeat(2, 1fr) minmax(4rem, 14rem) repeat(2, 1fr);  
}

.video-select__prev-link,  
.video-select__next-link {
    
    a { 
        font-size: 1.4rem;  
        font-style: italic;   
        color: #fff;  
        text-decoration: none; 
    } 
}


.video-select__prev-link {
    
    justify-self: end; 
    grid-column: 2 / 3; 

    display: grid; 
    grid-template-rows: repeat(2, min-content); 
    justify-items: end;  

    &--num {
        letter-spacing: 2px;  
    }
     
    &--text {

    }
    
}

.video-select__next-link {
 
    grid-column: 4 / 5;  

    display: grid; 
    grid-template-rows: repeat(2, min-content); 
    justify-items: start;  

    &--num {
        letter-spacing: 2px;  
    }
}


 
// utility classes
