:root {
  --color-primary: #f9ae65;
  --color-secondary: #3c6d79;
  --color-dark-blue: #5e62d1;
  --color-light-blue: #5fecc8;
  --color-light-grey: #e0e2ee; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  font-family: sans-serif; }

.btn {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .btn:focus {
    outline: none; }
  .btn__container {
    position: absolute;
    top: 48.2%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .btn__line {
    position: relative; }
  .btn__line, .btn__line::before {
    width: 1.8rem;
    height: .7px;
    background-color: var(--color-secondary);
    margin: 0 auto; }
  .btn__line::before {
    content: "";
    position: absolute;
    top: 6px;
    left: 0; }

.landing-page {
  display: flex; }
  .landing-page > * {
    width: 50%;
    height: 100vh; }
  .landing-page__left {
    background-color: var(--color-secondary); }
  .landing-page__right {
    background-color: var(--color-light-grey); }

.nav {
  width: 100%;
  height: 7.75rem;
  padding: 5rem 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 6.5rem; }
  .nav__logo {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.6rem;
    color: var(--color-primary);
    text-transform: uppercase; }
    .nav__logo--bottom {
      display: block;
      font-size: 2rem;
      font-weight: 600;
      letter-spacing: 2px; }
  .nav__link {
    font-size: 1.3rem;
    margin-right: 2rem;
    font-weight: 300;
    color: var(--color-light-grey); }

.heading {
  display: flex;
  width: 100%;
  color: var(--color-primary);
  display: flex;
  flex-direction: column;
  margin-bottom: 7rem; }
  .heading__text {
    font-size: 7rem;
    font-weight: 500;
    margin-left: 3.5rem;
    text-transform: uppercase; }

.landing-page__left--bottom {
  width: 100%;
  display: flex; }

.img-container,
.info-container {
  min-height: 37rem; }

.img-container {
  flex: 0 0 48%;
  background-color: rgba(249, 174, 101, 0.9); }
  .img-container__img-box {
    width: 100%;
    height: 100%;
    background-image: url(../img/home-main-1.png);
    background-size: cover; }

.info-container {
  flex: 1;
  background-color: var(--color-secondary); }

.info-box {
  width: 100%;
  color: var(--color-light-grey);
  display: flex; }
  .info-box .vertical-text-box {
    writing-mode: sideways-rl;
    transform: rotate(270deg); }
    .info-box .vertical-text-box__text {
      font-size: 1.3rem;
      font-weight: 300; }
      .info-box .vertical-text-box__text--span {
        display: block; }
  .info-box .horizontal-info-box__number-box {
    color: var(--color-primary); }
  .info-box .horizontal-info-box__statement {
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 300; }
    .info-box .horizontal-info-box__statement--span {
      display: block; }

.container {
  min-width: 100%;
  min-height: 100rem;
  background-color: #9bdb7d;
  position: relative; }

.landing-page {
  width: 100%;
  height: 100vh; }
